/****************************
*           LATO            *
*****************************/

@font-face {
    font-family: 'PatuaOne';
    src: url('../fonts/patuaone/patuaone-regular-webfont.eot');
    src: url('../fonts/patuaone/patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/patuaone/patuaone-regular-webfont.woff') format('woff'),
         url('../fonts/patuaone/patuaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/patuaone/patuaone-regular-webfont.svg#patua_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/****************************
*          GENERAL          *
*****************************/
body {
    font-family: 'PatuaOne', Arial, sans-serif;
    overflow: hidden;
}

h1 {
    width: 145px;
    height: 53px;
    padding: 12px 0 0 10px;
    font-size: 20px;
    color: #FFF;
    background: url('../images/title-bg.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

/****************************
*          CIRCLES          *
*****************************/

div#circles {
    width: 66%;
    height: 50%;
    background-color: #2c3e50;
}

/****************************
*        LINE CHART         *
*****************************/

div#linechart {
    background-color: #2c3e50;
    width: 66%;
    height: 50%;
    border-top: solid #FFF 2px;
    position: absolute;
    top: 50%;
}


/****************************
*           STATS           *
*****************************/

div#stats {
    width: 33%;
    height: 100%;
    background-color: #f7f4e3;
    color: #2c3e50;
    position: absolute;
    left: 66%;
    top: 0;
}

div#stats section {
    padding: 20px 0;
}

div#stats section.total {
    border-bottom: solid #2c3e50 3px;
    text-align: center;
    font-size: 18px;
}
div#stats section.total .number {
    font-size: 40px;
}

div#stats section.rt {
    border-bottom: solid #2c3e50 3px;
    text-align: center;
}
div#stats section.rt h2 {
    padding-bottom: 8px;
    font-size: 22px;
}
div#stats section.rt .number {
    font-size: 30px;
}

div#stats section.coachs {
    position: relative;
}
div#stats section.coachs h2 {
    padding-bottom: 8px;
    font-size: 22px;
    text-align: center;
}
div#stats section.coachs img {
    height: 150px;
    position: absolute;
}
div#stats section.coachs img.first {
    top: 20px;
    left: 20px;
}
div#stats section.coachs img.second {
    top: 20px;
    right: 20px;
}
div#stats section.coachs img.third {
    top: 200px;
    left: 20px;
}
div#stats section.coachs img.fourth {
    top: 200px;
    right: 20px;
}

/****************************
*           TWEET           *
*****************************/

div.fancybox-wrap, div.fancybox-skin, div.fancybox-outer, div.tweet {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.fancybox-skin {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

div.tweet {
    padding: 20px;
    background-color: #f7f4e3;
}
div.tweet.rt {
    padding: 20px 10px 10px 15px;
}

div.tweet img {
    float: left;
    padding-right: 15px;
}

div.tweet .user {
    text-align: left;
}
div.tweet.yellow .user {
    color: #fab13b;
}
div.tweet.green .user {
    color: #70ad88;
}
div.tweet.blue .user {
    color: #4bcddd;
}

div.tweet .text {
    padding-top: 5px;
    margin-left: 63px;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}

div.tweet .user .name {
    font-size: 17px;
}
div.tweet .user .screen-name {
    font-size: 13px;
}
